

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	color: black;
	margin: 0;
}
.wrapper { 
	width: 100%; 
 }
h1 {
	font-size: 2em;
	color: black;
}

h2 {
	font-size: 1.5em;
	padding: 20px;
}

img {
	display: block;
	margin: 0 auto;
}

h1 { 
	text-align: center;  
}

nav { 
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
    font-family: Arial, sans-serif;
}

a{
	text-decoration: none;
	}
 
aside { 
 	padding-right: 1em;
 		  }
article { 
	background-color: #E89C6C;
  	text-align: center;
  		  }

 div {
  	font-size: 1.2em;
    	  }
  footer { background-color: #FF957E;
  		border: 1px black solid;
  		clear: both;
  		text-align: center;
  		height: 2em;
  		padding-top: .5em;
   }
   div, section, aside { background-color: #FFE2B8;
   					
    }

ul {
	list-style: none;
	margin: 10px;
	padding: 1em;
	display: block;
	padding: 40px;
	width: 250px;
	text-align: left;
}

li {
	
	height: 2em;
	padding-left: 2em;
	padding-top: .5em;
	text-align: left;
	line-height: 2em;
	color: #222;
	
}

h1, h2 {
	text-transform: uppercase;
	font-style: italic;
	width: 100%;
	display: inline-block; 
}

#about {
	float: left;
	text-align: center;
	background: url("lighthouse.jpg"); 
	background-size: cover;
	height: 300px;
	color: white;
}

#articles {
		float: right;
	}

section {
	background: #222;
	color: #fff;
	overflow: auto;
}

div {

	width: 50%;
	display: inline-block;
}

.links {
	display: block;
	margin-bottom: 10px;
}

@media only screen and (min-width: 320px) 
and (max-width: 768px) {
	#articles, #about {
		display: block;
		width: 100%;
	}
}
