body {
	font-size: 18px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .4em;
}

img {
	display: block;
	margin: 0 auto;
}

h1 { background-color: #FFED74; 
}

nav { background-color: #E8C66A;
	  text-decoration-color: black; 
      border: 1px black solid;
      padding: 20px;
 }
 aside { background-color: #FFC675;
 		border: 1px black solid;
  }
  article { background-color: #E89C6C;
  		border: 1px black solid;
  }
  footer { background-color: #FF957E;
  		border: 1px black solid;
   }
   div, section { background-color: #FFE2B8;
   					border: 1px black solid;
    }

ul {
	list-style: none;
	margin: 0;
	padding: 1.5em;
}
h1, h2 {
	text-transform: uppercase;
	font-style: italic;
	border-bottom: 4px solid black;
	display: inline-block; Header
}